body {
    font-family: "Helvetica", sans-serif;
    margin: 0;
    padding: 80px;
    width: 100%;
  }
  

  .container {
    display: flex;
  }

  .container p {
    margin: 6px;
  }


  .container p a {
    padding-right: 12px;
    color: #949494;
  }   

  .title {
    flex: 1;
    background-color: #fff;
    padding: 20px;
  }

  .title p {
    color: #949494;
  }

  .content {
    flex: 1;
    background-color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  main {
    margin: 0 auto;
    padding: 20px;
    width: 100%;
  }
  
  footer {
    color: #565656;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 8px;
    height: 50px;
  }
  
  footer p {
    margin: 0;
  }
  