html, body {
  height: 100%;
  width: 100%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #ffff;
  height: 100%;
  width: 100%;
  background-image: url('RMBL.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


header {
	padding: 50px;
	text-align: center;
}

h1 {
	margin: 0;
	font-size: 36px;
	color: #ffff;
	font-family: Helvetica, Arial, sans-serif;
}

main {
	margin: 50px;
  max-width: 800px;
  margin: 0 auto; /* This centers the container horizontally */
  padding: 50px 40px;

  background-color: rgba(0, 0, 0, 0.65); /* black color with 50% opacity */
}

section {
	margin-bottom: 40px;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
	color: #ffff;
	font-family: Helvetica, Arial, sans-serif;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	margin-bottom: 10px;
}

a {
	color: #9d9d9d;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


.content {
  display: flex;
	flex-wrap: wrap;
}

.title {
  flex: 1;
  padding: 10px;
}

.bio {
  flex: 2;
  padding: 10px;
  min-width: 200px;
}